.form-group
  label(for="title") Title
  input.form-control(type="text", name="title", placeholder="What's your title?", value=post.title)
.form-group
  label(for="post") post
  textarea.form-control(name="content", rows="5")= post.content
