.form-group
  label(for="title") Title
  input.form-control(type="text", name="title", placeholder="What's your title?", value=post.title)
.form-group
  label(for="content") Post-contents
  textarea(name="content", placeholder = "input post contents ",rows="5").form-control= post.content
