.content = post.content
.row
  .col-sm
     .name
        |  asked on #{moment(post.reg_date).format('YYYY-MM-DD')}
        if post.name
           |
           | by #[a(href=`/users/${post.name.id}`) = post.name.name]
