extends ../layout

include ../includes/_paginate

block content
  .container
    h1.main-title
      | Posts
      if posts.total > 0
        .small Total  #{posts.total} post(s)
    if posts.total <= 0
      .alert.alert-info No posts available yet
    else
      .posts
         each posts in posts.docs
            .post
               a.title(href = `/posts/${post.id}`) = post.title )
               include _post
      +paginate(posts, '/posts', query)
    hr
    a.btn.btn-primary(href='/posts/new') Upload post
